<!doctype html>
<html lang="en">
<head>
	<title>Vue & PWA app</title>
	<!-- Links -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
	<link rel="manifest" href="">
	<link rel="cannonical" href="">
	<link rel="dns-prefetch" href="">
	<!-- Meta tags -->
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="image" content="">
	<meta http-equiv="x-dns-prefetch-control" content="on">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<!-- Schema.org -->
	<meta itemprop="name" content="">
	<meta itemprop="description" content="">
	<meta itemprop="image" content="">
	<!-- Twitter -->
	<meta name="twitter:card" content="">
	<meta name="twitter:title" content="">
	<meta name="twitter:description" content="">
	<!-- Facebook, Google+, Pinterest -->
	<meta name="og:title" content="">
	<meta name="og:description" content="">
	<meta name="og:image" content="">
	<meta name="og:url" content="">
	<meta name="og:site_name" content="">
	<meta name="og:locale" content="ru_RU">
	<meta name="og:type" content="website">
	<!-- Other meta-tags -->
	<meta name="theme-color" content="#49bda3">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="cache-control" content="">
	<meta property="og:locale" content="ru_RU">
	<meta property="og:type" content="website">
	<meta property="og:title" content="">
	<meta property="og:description" content="">
	<meta property="og:url" content="">
	<meta property="og:site_name" content="">
	<!--  Favicon & PWA icons -->
	<link rel="shortcut icon" type="image/x-icon" href="">
	<link rel="icon" type="image/png" sizes="192x192" href="">
	<link rel="icon" type="image/png" sizes="96x96" href="">
	<link rel="icon" type="image/png" sizes="16x16" href="">
	<link rel="apple-touch-icon" sizes="57x57" href="">
	<link rel="apple-touch-icon" sizes="60x60" href="">
	<link rel="apple-touch-icon" sizes="72x72" href="">
	<link rel="apple-touch-icon" sizes="76x76" href="">
	<link rel="apple-touch-icon" sizes="114x114" href="">
	<link rel="apple-touch-icon" sizes="120x120" href="">
	<link rel="apple-touch-icon" sizes="144x144" href="">
	<link rel="apple-touch-icon" sizes="152x152" href="">
	<link rel="apple-touch-icon" sizes="180x180" href="">
</head>

<body>
<noscript>
	<div class="g-js">
		Извините, но данный сайт не может работать без JavaScript
		<a href="https://help.rambler.ru/common/1205/?p=mail">Узнать, как включить JavaScript в браузере</a>
	</div>
</noscript>
<main id="app"></main>
<!--
<script type="text/javascript">(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym"); ym(71271190, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/71271190" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
-->
</body>
</html>