.v-dialog > .v-card > .v-card__text {
  padding: 24px 20px;
}

.g-main {
  &-form {
    width: 100%;
    max-width: 600px;

    .v-input {
      width: 100%;
    }

    .v-btn {
      width: 100%;
      max-width: 150px;
    }
  }
}

.width-full {
  width: 100%;
}

.g-pointer-el {
  cursor: pointer;
}

.v-chip {
  &.white {
    .v-chip__content {
      color: #555;
    }
  }
}

.v-tooltip {
  &__content {
    background-color: rgb(97, 97, 97);
  }
}

